@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: 'Montserrat', sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center;
  padding: 10px 0;
  background-color: #fc0;
  border-bottom: 5px solid black;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  font-family: 'Bungee Shade', 'cursive';
  font-size: 1.5em;
  z-index: 1;
}

#titulo-aprendizado {
  text-align: center;
  width: 50vw;
  margin: 33vh 39vw 0 25vw;
}

article {
  width: 50vw;
  margin-left: 25vw;
  text-align: justify;
  padding: 20px;
  line-height: 25px;
}

#licoes {
  width: 51vw;
  margin: 8vh 0 0 24vw;
  list-style-position: inside;
  padding: 20px;
  position: relative;
  margin-bottom: 200px;
}

#aprendidas {
  display: inline-block;
  margin: 0 4vw 0 1vw;
}

#aprender {
  display: inline-block;
  position: absolute;
}

.h2 {
  font-size: 1.8em;
  text-transform: uppercase;
  padding-bottom: 35px;
  color: #3f3f3f;
}

.texto {
  color: #3f3f3f;
}

.lado-esquerdo {
  display: inline-block;
  border: 5px solid black;
  background-color: #fc0;
  border-radius: 50px 50px 0 0;
  width: 23vw;
  position: absolute;
  top: 33vh;
  margin-left: 10px;
  height: 62vh;
  padding: 15px 10px 10px 10px;
  text-align: justify;
}

#quem-sou {
  display: inline-block;
  position: absolute;
  top: 32vh;
  width: 22vw;
  margin-left: -5px;
  border-radius: 20px;
}

#minha_foto {
  width: 21vw;
  border-radius: 30px;
}

h3 {
  text-align: center;
  line-height: 50px;
  padding-top: 3px;
}

.div-aside {
  display: inline-block;
  border: 5px solid black;
  width: 23vw;
  position: absolute;
  top: 92vh;
  left: 10px;
  background-color: #fc0;
  border-top: none;
  padding-bottom: 15px;
  border-radius: 0 0 50px 50px;
}

table {
  width: 16vw;
  margin: 35px 0 0 44px;
  color: #3f3f3f;
}

table,
th,
tr,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 3px;
}

th {
  text-align: center;
}

.curiosidades-bold {
  font-weight: 600;
}

.link-github {
  margin-top: 30px;
  text-align: center;
  letter-spacing: 1px;
}

#rodape {
  text-align: center;
  font-weight: 600;
  padding: 1px 0;
  border-top: 3px solid black;
  background-color: #fc0;
  border-radius: 80px 80px 0 0;
}