body {
    background: linear-gradient(140deg, rgba(112,214,255,1) 38%, rgba(179,245,255,1) 94%);
    color: #585d66;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 1.7em;
}

#topo {
    text-transform: uppercase;
    color: #FF70A6;

}

.listas {
    list-style: none;
    text-decoration: none;
}

.name-title {
    font-family: 'Bangers', 'cursive';
    font-size: 3em;
    color: #E9FF70;
}

.descricao-perfil em,
.descricao-perfil strong {
    color: #FF9770;
}

.titles {
    font-family: 'Bangers', 'cursive';
    font-size: 1.5em;
    color: #FF70A6;
    letter-spacing: 0.5px;
}

.habilidade {
    font-size: 1.2em;
    color: #FF9770;
    text-transform: uppercase;
}

.btn-topo {
    background-color: rgba(233, 255, 112, 0.7);
    color: #FF9770;
    padding: 5px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

.btn-topo:hover {
    background-color: transparent;
    border: 1px solid #FF9770;
    color: #E9FF70;
}